body, header, h1, h2, nav, blockquote, div, article, span {
	margin: 0;
	padding: 0;
	display: inline-block;
}

body {
	background-color: #D5EDEA;
}

header, body, .container, .container-max {
	width: 100%;
}

a {
	color: #04A8DA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	background-color: #2D4C58;
	position: fixed;
	top:0;
	display: block;
	color: #D5EDEA;
	z-index: 1;
}

.title {
	display: block;
	padding-left: 10px;
}

nav, .subtitle {
	padding: 5px;
}

nav {
	padding-bottom: 0;
}

.btn {
	width: auto;
	padding: 5px;
	cursor:pointer;
	background-color: #33698E;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 5px 5px 0 0;
}

.btn:hover {
	background-position: 0 -15px;
	text-decoration: none;
}

.subtitle {
	float: right;
}

.container, .container-max, article {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.container {
	margin-top:100px;
	padding-left: 2%;
	padding-right: 2%;
}

.container-max {
	margin-top:100px;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
}

article {
	background-color: #fefefe;
	vertical-align: top;
	border: 1px solid #888;
	border-radius: 3px;
	box-shadow: 3px 3px 0px #aaa; 
	margin: 5px;
	word-wrap: break-word;
	padding: 5px 5px 15px 5px;
	text-align: left;
	position: relative;
}

.article-category {
	position: absolute;
}

.article-title {
	display: block;
	text-align: center;
	padding: 10px 0;
}

.publish-date {
	font-size: 10px;
	position: absolute;
	right: 5px;
	top: 5px;
	padding-right: 5px;
}

.article-more {
	font-size: 10px;
	position: absolute;
	right: 5px;
	bottom: 2px;
}

.projet:before, .article:before, .cv:before {
	color: #888;
	float: left;
	font-size: 15px;
}

.projet:before {
	content:"♺";
}

.article:before {
	content: "✍";
}

.cv:before {
	content: "⌘";
}

.container-img, .container-link {
	text-align: center;
	display: block;
}

.container-link a {
	padding: 10px;
}

/*@media screen and (max-width: 800px) {
  article {
  	width: 20%;
  }
}*/

@media screen and (max-width: 500px) {
  .subtitle {
  	display: none;
  }

  .container {
    margin-top:130px;
    text-align: center;
  }

  article {
  	width: 90%;
  }
}