body, header, h1, h2, nav, blockquote, div, article {
	margin: 0;
	padding: 0;
	display: inline-block;
}

body {
	background-color: #D5EDEA;
}

a {
	color: #04A8DA;
}

header {
	background-color: #2D4C58;
	position: fixed;
	top:0;
	display: block;
	width: 100%;
	color: #D5EDEA;
}

.title {
	display: block;
	padding-left: 10px;
	padding-top: 10px;
}

nav, .subtitle {
	padding: 5px;
}

input[type="button"] {
	width: auto;
	padding: 5px;
	cursor:pointer;
	background-color: #33698E;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

input[type="button"]:hover {
	background-position: 0 -15px;
	text-decoration: none;
}

.subtitle {
	float: right;
}

.container {
	margin-top:100px;
	padding-left: 2%;
	padding-right: 2%;
}

article {
	background-color: #fefefe;
	vertical-align: top;
	border: 1px solid #888;
	border-radius: 3px;
	width: 30%;
	box-shadow: 3px 3px 0px #aaa; 
	margin: 5px;
	word-wrap: break-word;
	padding: 5px;
	text-align: left;
}

@media screen and (max-width: 800px) {
  article {
  	width: 20%;
  }
}

@media screen and (max-width: 500px) {
  .subtitle {
  	display: none;
  }

  .container {
    margin-top:130px;
    text-align: center;
  }

  article {
  	width: 90%;
  }
}