body, header, h1, h2, nav, blockquote, div, .article-max, span {
	margin: 0;
	padding: 0;
	display: inline-block;
}

body {
	background-color: #333;
	text-align: center;
}

header, body, .container, .container-max {
	width: 100%;
}

a {
	color: #04A8DA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.article-global-link {
	color: black;
}

.article-global-link:hover {
	text-decoration: none;
}

header {
	background-color: #111;
	position: fixed;
	top:0;
	display: block;
	color: #000;
	z-index: 10;
	text-align: left;
	height: 65px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.title, .title:hover {
	text-decoration: none;
	cursor: pointer;
}

.title, .sub-presentation, .title-cv {
	padding-left: 10px;
	font-family: "URW Chancery L";
}

.title, .title-cv {
	display: inline-block;
	color: #fefefe;
	font-size: 2.5em;
}

.title-cv {
	margin-top: 75px;
	width: 100%;
}

.sub-presentation {
	color: #ccc;
	display: block;
	font-size: 0.4em;
	line-height: 0.2em;
	text-align: right;
}

nav {
	position: absolute;
	right: 5px;
	bottom: 0;
	padding: 4px;
}

.btn, .btn-selected {
	width: auto;
	padding: 5px;
	cursor:pointer;
	font-family: "fontello";
	font-size: 1.2em;
}

.btn {
	color: #888;
	text-decoration: none;
}

.btn-selected, .btn-selected:hover, .btn:hover {
	color: #fff;
	text-decoration: none;
}

.btn.btn-projet:hover, .btn-selected.btn-projet:hover {
	color: #2DBB59;
	text-decoration: none;
}
.btn.btn-cv:hover, .btn-selected.btn-cv:hover {
	color: #6C3695;
	text-decoration: none;
}
.btn.btn-article:hover, .btn-selected.btn-article:hover {
	color: #0D75B8;
	text-decoration: none;
}

.social-network {
	position: relative;
	float: right;
	margin-right: 5px;
	margin-top: -15px;
}

.social-network a {
	float: left;
	padding: 0 2px;
}

.social-network a:hover {
	margin-top: 15px;
}

.social-network-tab {
	display: none;
}

.container, .container-max, article, div, header {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.container, .container-max {
	margin-top:75px;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
}

.column {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin: 0 1.2%;
	max-width: 350px;
}

.article-max, .article-min {
	background-color: #fefefe;
	vertical-align: top;
	border-radius: 5px 5px 0 5px;
	margin: 15px 0;
	word-wrap: break-word;
	padding: 15px;
	text-align: left;
	position: relative;
}

.article-max {
	width: 90%;
	max-width: 700px;
	border-radius: 10px;
	display: block;
	margin: 15px auto;
}

.article-max img {
	max-width: 100%;
	max-height: 300px;
}

.article-min {
	width: 100%;
	min-height: 200px;
}

.article-min a {
	color: #747474;
}

.img-container {
	text-align: center;
	display: block;
}

.article-min img {
	max-width: 100%;
	max-height: 300px;
	padding: 10px 0;
}


.article-category {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px #2F4D57;
	border-left: 40px solid transparent;
	border-right: 40px solid #2F4D57;
}

.article-category.projet {
	border-color: rgba(0, 0, 0, 0) #2DBB59 #2DBB59 rgba(0, 0, 0, 0);
}

.article-category.ecrits {
	border-color: rgba(0, 0, 0, 0) #0D75B8 #0D75B8 rgba(0, 0, 0, 0);
}

.article-category.cv {
	border-color: rgba(0, 0, 0, 0) #6C3695 #6C3695 rgba(0, 0, 0, 0);
}

.article-min .categories {
	position: absolute;
	right: 0;
	top: 30px;
	width: 15px;
}

.article-min .categories .category, .category-link {
	border-radius: 2px 0 0 2px;
	float: right;
	width: 10px;
	height: 22px;
	line-height: 22px;
	margin-bottom: 5px;
	overflow: hidden;
	text-transform: capitalize;
}

.category-link {
	float: none;
}

.article-min.ecrits .categories .category {
	background-color: #0D75B8;
	color: #0D75B8;
}
.article-min.projet .categories .category {
	background-color: #2DBB59;
	color: #2DBB59;
}
.article-min.cv .categories .category {
	background-color: #6C3695;
	color: #6C3695;
}

.article-min .categories .category:hover {
	color: #fff;
	padding: 0 15px;
	width: auto;
	text-decoration: none;
	cursor: pointer;
}

.article-min .tag {
	color: #fff;
	text-decoration: none;
	padding: 1px 5px;
	border-radius: 2px;
	text-transform: capitalize;
	font-size: 0.8em;
	margin: 2px;
	display: inline-block;
}

.article-min.ecrits .tag {
	background-color: #0D75B8;
}
.article-min.projet .tag {
	background-color: #2DBB59;
}
.article-min.cv .tag {
	background-color: #6C3695;
}

.article-title {
	display: block;
	padding-bottom: 10px;
	font-size: 2.2em;
	color: #222;
}

.publish-date {
	font-size: 0.7em;
	position: absolute;
	right: 5px;
	top: 5px;
	padding-right: 5px;
}

.article-category.projet:after, 
.article-category.ecrits:after, 
.article-category.cv:after {
	position: absolute;
	right: -37px;
	bottom: 4px;
	color: #fefefe;
	font-size: 1em;
	font-family: "fontello";
}

.article-category.projet:after {
	content:"\e805";
}

.article-category.ecrits:after {
	content: "\e804";
}

.article-category.cv:after {
	content: "\e806";
}

.container-img, .container-link {
	text-align: center;
	display: block;
}

.container-link a {
	padding: 10px;
}

.container-links-img {
	display: block;
}

.btn-gallery {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #2D4C58;
	cursor:pointer;
	display: inline-block;
	border: 2px solid #2D4C58;
}

.btn-gallery:hover {
	background-color: #04A8DA;
	border: 2px solid #2D4C58;	
}

.btn-gallery-selected {
	border: 2px solid #04A8DA;
}

.btn-gallery:hover {
	color: #fefefe;
	text-decoration: none;
}

.container .article-min {
-webkit-transition:all .5s cubic-bezier(0, .99, 1, 1);
   -moz-transition:all .5s cubic-bezier(0, .99, 1, 1);
    -ms-transition:all .5s cubic-bezier(0, .99, 1, 1);
     -o-transition:all .5s cubic-bezier(0, .99, 1, 1);
        transition:all .5s cubic-bezier(0, .99, 1, 1);
}

.container .article-min:hover {
	z-index:5;
	color: black;
	-webkit-transform: scale(1.025);
	   -moz-transform: scale(1.025);
	    -ms-transform: scale(1.025);
	     -o-transform: scale(1.025);
	        transform: scale(1.025);
}

.container .article-min.projet:hover {
	box-shadow:0 0 5px #2DBB59;
}

.container .article-min.ecrits:hover {
	box-shadow:0 0 5px #0D75B8;
}

.container .article-min.cv:hover {
	box-shadow:0 0 5px #6C3695;
}

.container .article-min:hover a {
	color: black;
}

.category-category {
	text-align: left;
	padding: 10px;
	margin: 20px;
	font-size: 2em;
	display: block;
	color: #fff;
	text-transform: capitalize;
}

.category-article {
	padding: 10px;
	display: block;
	font-size: 0.8em;
}


@font-face {
  font-family: 'fontello';
  src: url('font/font/fontello.eot?7456557');
  src: url('font/font/fontello.eot?7456557#iefix') format('embedded-opentype'),
       url('font/font/fontello.woff?7456557') format('woff'),
       url('font/font/fontello.ttf?7456557') format('truetype'),
       url('font/font/fontello.svg?7456557#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7456557#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-note:before { content: '\e804'; } /* '' */
.icon-graduation-cap:before { content: '\e806'; } /* '' */
.icon-beaker:before { content: '\e805'; } /* '' */


@media screen and (max-width: 600px) {
  .title, .sub-presentation, .social-network {
  	display: none;
  }

  header {
  	text-align: center;
  	height: 30px;
  	font-size: 0.95em;
  }

  nav {
  	position: relative;
  	display: block;
  }

  .social-network-tab {
  	display: inline;
  }

  .container, .container-max {
    margin-top: 35px;
    text-align: center;
  }

  .column {
  	width: 90%;
  }
}
