---
layout: default
title: Tags
---

<h2 class="title-cv">Tags</h2>
<div class="container">
{% for tag in site.tags %}
<a class="category-link" href="#{{ tag | first }}">{{ tag | first }}</a>
{% endfor %}
</div>

<h2 class="title-cv">Articles by Category</h2>
{% for tag in site.tags %}
  <div class="category-category">{{ tag | first }}
    {% for posts in tag %}
      {% for post in posts %}
      	{% if post.title and post.category != 'brouillon' %}
          <a class="category-article" href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endfor %}
