body, header, h1, h2, nav, blockquote, div, .article-max, span {
	margin: 0;
	padding: 0;
	display: inline-block;
}

body {
	background-color: #333;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

header, body, .container, .container-max {
	width: 100%;
}

a {
	color: #04A8DA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.article-global-link {
	color: black;
}

.article-global-link:hover {
	text-decoration: none;
}

header {
	background-color: #111;
	position: fixed;
	top:0;
	display: block;
	color: #000;
	z-index: 10;
	text-align: left;
	height: 65px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.title {
	line-height: 45px;
}

.title, .title:hover {
	text-decoration: none;
	cursor: pointer;
}

.title, .sub-presentation, .title-cv {
	padding-left: 10px;
}

.title, .title-cv {
	display: inline-block;
	color: #fefefe;
	font-size: 2.5em;
}

.title-cv {
	margin-top: 75px;
	width: 100%;
}

.sub-presentation {
	color: #ccc;
	display: block;
	font-size: 0.4em;
	line-height: 0.2em;
	text-align: right;
}

nav {
	position: absolute;
	right: 5px;
	bottom: 0;
	padding: 4px;
}

.btn, .btn-selected {
	width: auto;
	padding: 5px;
	cursor:pointer;
	font-family: "fontello", 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.btn {
	color: #888;
	text-decoration: none;
}

.btn-selected, .btn-selected:hover, .btn:hover {
	color: #fff;
	text-decoration: none;
}

.btn.btn-projet:hover, .btn-selected.btn-projet:hover {
	color: #2DBB59;
	text-decoration: none;
}
.btn.btn-cv:hover, .btn-selected.btn-cv:hover {
	color: #6C3695;
	text-decoration: none;
}
.btn.btn-article:hover, .btn-selected.btn-article:hover {
	color: #0D75B8;
	text-decoration: none;
}

.social-network {
	position: relative;
	float: right;
	margin-right: 5px;
	margin-top: -15px;
}

.social-network a {
	float: left;
	padding: 0 2px;
}

.social-network a:hover {
	margin-top: 15px;
}

.social-network-tab {
	display: none;
}

.container, .container-max, article, div, header {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.container, .container-max {
	margin: 75px auto;
	max-width: 1200px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.article-max, .article-min {
	background-color: #fefefe;
	vertical-align: top;
	border-radius: 5px 5px 0 5px;
	margin: 15px 0;
	word-wrap: break-word;
	padding: 15px;
	text-align: left;
	position: relative;
}

.article-max {
	width: 90%;
	max-width: 900px;
	border-radius: 10px;
	display: block;
	margin: 15px auto;
}

.article-max img {
	max-width: 100%;
	max-height: 300px;
}

.article-max .brodered-image {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 15px;
	margin: 15px;
}

.article-max .code {
	display: block;
	color: #fff;
	background-color: #222222;
	border-radius: 3px;
}

.article-max .code .code-filename {
	display: block;
	background-color: #444444;
	text-align: right;
	padding: 8px;
	font-size: 0.8em;
	border-radius: 2px 2px 0 0;
}

.article-max .code pre {
	padding: 0 10px 10px;
}

.article-min {
	min-width: 200px;
	min-height: 180px;
	flex: 0 0 calc(32% - 12px);
	margin-left: 24px;
}

.article-min .article-min-resume {
	display: block;
	padding: 15px 0;
}

.article-min a {
	color: #747474;
}

.img-container {
	text-align: center;
	display: block;
}

.article-min img {
	max-width: 100%;
	max-height: 300px;
	padding: 10px 0;
}


.article-category {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px #2F4D57;
	border-left: 40px solid transparent;
	border-right: 40px solid #2F4D57;
}

.article-category.projet {
	border-color: rgba(0, 0, 0, 0) #2DBB59 #2DBB59 rgba(0, 0, 0, 0);
}

.article-category.ecrits {
	border-color: rgba(0, 0, 0, 0) #0D75B8 #0D75B8 rgba(0, 0, 0, 0);
}

.article-category.cv {
	border-color: rgba(0, 0, 0, 0) #6C3695 #6C3695 rgba(0, 0, 0, 0);
}

.article-min .categories {
	position: absolute;
	right: 0;
	top: 30px;
	width: 15px;
}

.article-min .categories .category, .category-link {
	border-radius: 2px 0 0 2px;
	float: right;
	width: 10px;
	height: 22px;
	line-height: 22px;
	margin-bottom: 5px;
	overflow: hidden;
	text-transform: capitalize;
}

.category-link {
	float: none;
}

.article-min.ecrits .categories .category {
	background-color: #0D75B8;
	color: #0D75B8;
}
.article-min.projet .categories .category {
	background-color: #2DBB59;
	color: #2DBB59;
}
.article-min.cv .categories .category {
	background-color: #6C3695;
	color: #6C3695;
}

.article-min .categories .category:hover {
	color: #fff;
	padding: 0 15px;
	width: auto;
	text-decoration: none;
	cursor: pointer;
}

.article-min .tag {
	color: #fff;
	text-decoration: none;
	padding: 1px 5px;
	border-radius: 2px;
	text-transform: capitalize;
	font-size: 0.8em;
	margin: 2px;
	display: inline-block;
}

.article-min.ecrits .tag {
	background-color: #0D75B8;
}
.article-min.projet .tag {
	background-color: #2DBB59;
}
.article-min.cv .tag {
	background-color: #6C3695;
}

.hiddenFilter {
	display: none;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	position: fixed;
	top: 75px;
	right: 10px;
}

.article-title {
	display: block;
	padding-bottom: 10px;
	font-size: 1.8em;
	color: #111;
}

.publish-date {
	font-size: 0.7em;
	position: absolute;
	right: 5px;
	top: 5px;
	padding-right: 5px;
}

.article-category.projet:after, 
.article-category.ecrits:after, 
.article-category.cv:after {
	position: absolute;
	right: -37px;
	bottom: 4px;
	color: #fefefe;
	font-size: 1em;
	font-family: "fontello", 'Open Sans', sans-serif;
}

.article-category.projet:after {
	content:"\e805";
}

.article-category.ecrits:after {
	content: "\e804";
}

.article-category.cv:after {
	content: "\e806";
}

.container-img, .container-link {
	text-align: center;
	display: block;
}

	.container-img img {
		cursor: pointer;
	}

.container-link a {
	padding: 10px;
}

.container-links-img {
	display: block;
}

.btn-gallery {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #2D4C58;
	cursor:pointer;
	display: inline-block;
	border: 2px solid #2D4C58;
}

.btn-gallery:hover {
	background-color: #04A8DA;
	border: 2px solid #2D4C58;	
}

.btn-gallery-selected {
	border: 2px solid #04A8DA;
}

.btn-gallery:hover {
	color: #fefefe;
	text-decoration: none;
}

.container .article-min {
-webkit-transition:all .5s cubic-bezier(0, .99, 1, 1);
   -moz-transition:all .5s cubic-bezier(0, .99, 1, 1);
    -ms-transition:all .5s cubic-bezier(0, .99, 1, 1);
     -o-transition:all .5s cubic-bezier(0, .99, 1, 1);
        transition:all .5s cubic-bezier(0, .99, 1, 1);
}

.container .article-min:hover {
	z-index:5;
	color: black;
	-webkit-transform: scale(1.025);
	   -moz-transform: scale(1.025);
	    -ms-transform: scale(1.025);
	     -o-transform: scale(1.025);
	        transform: scale(1.025);
}

.container .article-min.projet:hover {
	box-shadow:0 0 5px #2DBB59;
}

.container .article-min.ecrits:hover {
	box-shadow:0 0 5px #0D75B8;
}

.container .article-min.cv:hover {
	box-shadow:0 0 5px #6C3695;
}

.container .article-min:hover a {
	color: black;
}

.category-category {
	text-align: left;
	padding: 10px;
	margin: 20px;
	font-size: 2em;
	display: block;
	color: #fff;
	text-transform: capitalize;
}

.category-article {
	padding: 10px;
	display: block;
	font-size: 0.8em;
}

/* ##### GALLERY BIG ##### */

.gallery-big-glass {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 20;
}

.gallery-big-container {
	position: fixed;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	z-index: 20;
	text-align: center;
}

	.gallery-big-container-closeButton, .gallery-big-container-nextButton, .gallery-big-container-prevButton {
		position: absolute;
		font-size: 1.2em;
		width: 50px;
		height: 50px;
		text-align: center;
		color: #222;
		padding: 10px;
		cursor: pointer;
		background-color: #fefefe;
		border: 1px solid #222;
		border-radius: 5px;
	}

	.gallery-big-container-closeButton {
		top: -3%;
		right: -3%;
	}

	.gallery-big-container-nextButton {
		top: 45%;
		right: 0;
	}

	.gallery-big-container-prevButton {
		top: 45%;
		left: 0;
	}

	.gallery-big-container-image {
		border: 1px solid #ccc;
		max-width: 100%;
		max-height: 100%;
	}


@font-face {
  font-family: 'fontello';
  src: url('/assets/font/font/fontello.eot?7456557');
  src: url('/assets/font/font/fontello.eot?7456557#iefix') format('embedded-opentype'),
       url('/assets/font/font/fontello.woff?7456557') format('woff'),
       url('/assets/font/font/fontello.ttf?7456557') format('truetype'),
       url('/assets/font/font/fontello.svg?7456557#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7456557#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-note:before { content: '\e804'; } /* '' */
.icon-graduation-cap:before { content: '\e806'; } /* '' */
.icon-beaker:before { content: '\e805'; } /* '' */



@media screen and (max-width: 1000px) {
  .social-network-tab {
  	display: inline;
  }

  .container, .container-max {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
  }

  .article-min {
  	margin: 15px;
  }

}

@media screen and (max-width: 700px) {
  .title, .sub-presentation, .social-network {
  	display: none;
  }

  header {
  	text-align: center;
  	height: 30px;
  	font-size: 0.8em;
  }

  nav {
  	position: relative;
  	display: block;
  }

  .social-network-tab {
  	display: inline;
  }

  .container, .container-max {
    margin: 35px auto;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0 15px;
  }

  .article-min {
  	margin: 15px;
  }

}
