---
title: "Contacts"
metaDescription: "Simple visualization of your Js projects' dependencies."
metaKeywords: "Kyu,JavaScript,js,Angular,AngularJs,dependance,dependencies,project,visualization,code,source"
metaLanguage: "fr_FR"
---
<div class="container">
  <a href="http://cv.lydiman.net" target="_blank"><img src="/assets/images/cvpdf.gif" width="50px" /></a>
  <a href="https://twitter.com/RmManeschi" target="_blank"><img src="/assets/images/brand/twitter.png" width="50px" /></a>
  <a href="https://github.com/manland" target="_blank"><img src="/assets/images/brand/github.png" width="50px" /></a>
  <a href="http://www.viadeo.com/fr/profile/romain.maneschi" target="_blank"><img src="/assets/images/brand/viadeo.png" width="50px" /></a>
  <a href="http://www.linkedin.com/pub/romain-maneschi/5b/422/aa9" target="_blank"><img src="/assets/images/brand/linkedin.png" width="50px" /></a>
  <a href="https://plus.google.com/+RomainManeschi" target="_blank"><img src="/assets/images/brand/googleplus.png" width="50px" /></a>
  <!--<a href="http://www.facebook.com/romain.maneschi" target="_blank"><img src="/assets/images/brand/facebook.png" width="50px" /></a>-->
  <a href="http://manland.github.com/feed.xml" target="_blank"><img src="/assets/images/brand/rss.png" width="50px" /></a>
</div>