<!DOCTYPE html>
<html lang="fr-fr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Romain Maneschi" />
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36759922-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <header>
      <div class="title">
        <h1>Romain Maneschi</h1>
        <div class="sub-presentation"> - <h2>Artisan développeur</h2></div>
      </div>
      <nav>
        <a href="/cv.html" class="btn">⌘ CV</a>
        <a href="/projets.html" class="btn">♺ Projets</a>
        <a href="/articles.html" class="btn">✍ Articles</a>
        <a href="/contact.html" class="btn social-network-tab">✉ Contact</a>
      </nav>
      <div class="social-network">
        <img src="/img/brand/twitter.png" width="50px" />
        <img src="/img/brand/facebook.png" width="50px" />
      </div>
      <div class="social-network" onmouseover="this.style.top='0px';" onmouseout="this.style.top='-15px';">
        <a href="https://twitter.com/RmManeschi" target="_blank"><img src="img/brand/twitter.png" width="30px" /></a>
        <a href="http://www.facebook.com/romain.maneschi" target="_blank"><img src="img/brand/facebook.png" width="30px" /></a>
        <a href="https://plus.google.com/u/0/115925956313772648621" target="_blank"><img src="img/brand/googleplus.png" width="30px" /></a>
        <a href="https://github.com/manland" target="_blank"><img src="img/brand/github.png" width="30px" /></a>
      </div>
      <blockquote class="subtitle">
        Développeur web pour <a href="http://itkweb.fr" target="_blank">ITK</a>
      </blockquote>
    </header>
    {{ content }}
  </body>
</html>