<!DOCTYPE html>
<html lang="fr-fr">
  <head>
    <meta charset="utf-8">
    <title>Romain Maneschi - {{ page.title }}</title>
    <meta name="author" content="Romain Maneschi" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36759922-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <header>
      <a class="title" href="/index.html">
        Romain Maneschi<br />
        <div class="sub-presentation">Artisan développeur</div>
      </a>
      <nav>
        {% if page.url contains "index.html" %}
          <a href="/index.html" class="btn-selected">Accueil</a>
        {% else %}
          <a href="/index.html" class="btn">Accueil</a>
        {% endif %}
        {% if page.categories contains "cv" or page.url contains "cv.html" %}
          <a href="/cv.html" class="btn-selected btn-cv"> CV</a>
        {% else %}
          <a href="/cv.html" class="btn btn-cv"> CV</a>
        {% endif %}
        {% if page.categories contains "projet" or page.url contains "projets.html" %}
          <a href="/projets.html" class="btn-selected btn-projet"> Projets</a>
        {% else %}
          <a href="/projets.html" class="btn btn-projet"> Projets</a>
        {% endif %}
        {% if page.categories contains "article" or page.url contains "articles.html" %}
          <a href="/articles.html" class="btn-selected btn-article"> Ecrits</a>
        {% else %}
          <a href="/articles.html" class="btn btn-article"> Ecrits</a>
        {% endif %}
        {% if page.url contains "contact.html" %}
          <a href="/contact.html" class="btn-selected social-network-tab">Contact</a>
        {% else %}
          <a href="/contact.html" class="btn social-network-tab">Contact</a>
        {% endif %}
      </nav>
      <div class="social-network" onmouseover="this.style.top='0px';" onmouseout="this.style.top='-15px';">
        <a href="http://cv.lydiman.net" target="_blank"><img src="/img/cvpdf.gif" width="30px" /></a>
        <a href="https://twitter.com/RmManeschi" target="_blank"><img src="/img/brand/twitter.png" width="30px" /></a>
        <a href="http://www.facebook.com/romain.maneschi" target="_blank"><img src="/img/brand/facebook.png" width="30px" /></a>
        <a href="https://plus.google.com/+RomainManeschi" target="_blank"><img src="/img/brand/googleplus.png" width="30px" /></a>
        <a href="https://github.com/manland" target="_blank"><img src="/img/brand/github.png" width="30px" /></a>
        <a href="http://manland.github.com/feed.xml" target="_blank"><img src="/img/brand/rss.png" width="30px" /></a>
      </div>
    </header>
    {{ content }}
  </body>
</html>